[user]
	name = aoi taniguchi
	email = aoi.taniguchi@woven-planet.global
[pull]
	rebase = false
	ff = only
[credential "https://github.tmc-stargate.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nv -d \"$LOCAL\" \"$REMOTE\""
[alias]

